/* -- Bandeau -- */
#prevention {
    background-color: #9c3576;
    border: solid #ff5c00 0.2rem;
    border-radius: 2rem;
    padding: 1em;
}

.conditions li {
    margin: 0.5em;
}


.conditions div {
    margin: 1% 5% 1% 5%;
    color: white;
}

/* -- Paragraphes -- */
.conditions p {
    background-color: #4f1975;
    padding: 0.4em;
}

/* -- Liste -- */
.conditions ul {
    background-color: #4f1975;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 1.2em;
}

/* -- Arrondire les paragraphes-- */
#Generalites p,
#Frais p,
#Contenus p,
#Protection p,
#Indemnite p {
    border-radius: 1rem;
}

#Utilisation p,
#Achat p {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#Utilisation ul,
#Achat ul {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#Violation p:nth-child(1),
#Vente p:nth-child(1),
#Responsabilite p:nth-child(1) {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

#Violation p:nth-child(5),
#Vente p:nth-child(3),
#Responsabilite p:nth-child(5) {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}