/* --- Barre de navigation ---*/
/* -- Barre du haut -- */
/* - Logo en haut à gauche - */
div.nav-left img{
    display: block;
}
/* - Div de la barre du haut  - */
nav#navbar-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--couleur-noir);
}
nav#navbar-top div{
    display: inline-block;
    vertical-align: middle;
    align-content: center;
    white-space: nowrap;
    margin:0 2% 0 2%;
}

/* - Boutons du milieu et droite de la barre du haut - */
nav#navbar-top div.nav-center a, nav#navbar-top div.nav-right #nav-left-signup a{
    text-decoration: none;
    color: var(--couleur-noir);
    background-color: var(--couleur-jaune);
    border-radius: 1rem;
    white-space: nowrap;

    display: block;
    padding: 0.5rem 0.5rem;
}

/* - Barre de recherche - */

div.nav-search{
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    width: 50%;
    border: 0.2rem solid var(--couleur-blanc);
    border-radius: 1rem;
    white-space: nowrap;
}

div.nav-search form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
}

div.nav-search input{
    outline: none;
    border-width: 0;
}
div.nav-search form>input{
    width: 90%;
    color: var(--couleur-blanc);
    background-color: var(--couleur-noir);
}

#button-submit{
    background: url(../design/img/search.png) no-repeat;
    background-size: 100%;
    width: 1.5rem;
    height: 1.5rem;
}

#button-submit:hover{
    cursor:pointer;
}

/* - Premier bouton de droite - */
div#nav-left-signin a{
    text-decoration: none;
    border-radius: 1rem;
    white-space: nowrap;
    display: block;
    padding: 0.5rem 0.5rem;
    color: var(--couleur-blanc);
    background-color: var(--couleur-noir);
    border: 0.15rem var(--couleur-blanc) solid;
    margin-right: 1rem;
}