/* --- Main View ---*/
@media only screen and (min-width: 960px) {
    hr {
        margin: 1rem 2rem 1rem 2rem;
    }

    /* -- Slider -- */

    #slider {
        position: relative;
        width: 90%;
        margin: 1% 5% 1% 5%;
        display: flex;
        align-items: center;
    }

    #slider a,
    #slider img {
        width: 100%;
        height: 10rem;
    }

    #precedent,
    #suivant {
        cursor: pointer;
        transition: opacity 0.3s ease;
        opacity: 0.2;
        position: absolute;
        font-size: 4rem;
        color: rgba(220, 220, 220, 0.8);
        background-color: var(--couleur-noir30);
        padding: 0.2rem;
    }

    #precedent {
        left: 0;
    }

    #suivant {
        right: 0;
    }

    #slider:hover #precedent,
    #slider:hover #suivant {
        opacity: 1;
    }

    /* -- Annonces populaires -- */
    .ventesPopulaires {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ventesPopulaires article {
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 1rem;
        border-radius: 1rem;
        background: var(--couleur-noir30);
        padding-bottom: 0.5rem;
    }

    .ventesPopulaires article img {
        width: 20rem;
        height: 15rem;
        border-radius: 1rem;
    }

    .variablesEnchere {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ventesPopulaires article p {
        margin: 0.5rem;
    }

    .ventesPopulaires article h1 {
        word-wrap: break-word;
        margin: 0.5rem;
    }
}