@media only screen and (min-width: 960px) {
    footer>div {
        /*background-color: var(--couleur-noir);*/
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    footer>div div,
    footer>div>a {
        display: block;
        align-self: center;
    }

    footer>div>a img {
        display: block;
    }

    footer ul {
        list-style-type: none;
        margin: 0.2rem;
    }

    .div3 ul {
        display: flex;

    }

    footer a,
    footer h1 {
        text-decoration: none;
        color: var(--couleur-blanc);
        margin: 0.2rem 0.5rem 0.2rem 0.4rem;
    }

    footer h1 {
        font-size: 1.5rem;
    }

    footer {
        position: absolute;
        bottom: 0;
        min-height: 0;
        width: 100%;
        background-color: var(--couleur-noir80);
    }

    footer p {
        text-align: center;
        text-decoration: none;
        color: var(--couleur-blanc);
    }

}