/* --- Main View ---*/

hr {
    margin: 1rem 2rem 1rem 2rem;
    height: 0.1rem;
    background-color: var(--couleur-blanc);
    border: none;
}

/* -- Annonces populaires -- */
.ventesPopulaires {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--couleur-blanc);
}

.ventesPopulaires article {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 1rem;
    background: var(--couleur-noir30);
    padding-bottom: 0.5rem;
}

.ventesPopulaires article img {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
}

.variablesEnchere {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ventesPopulaires article p {
    margin: 0.5rem;
}

.ventesPopulaires article h1 {
    word-wrap: break-word;
    margin: 0.5rem;
    text-overflow: ellipsis;
}

.ventesPopulaires a {
    text-decoration: none;
    color: var(--couleur-blanc);
}

.ventesPopulaires a:visited {
    color: var(--couleur-gris-clair);
}

main.pagePrincipale h2 {
    margin-top: 2rem;
    margin-left: 6rem;
    color: var(--couleur-blanc);
}