:root {
    --dot-diameter: 300px;
    --circle-border-width: 3px;
}

/* container */
.container {
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: stretch;
    align-items: center;
    position: relative;
}

/* container en flex colonne*/
.flex-col {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    text-align: center;
    color: white;
    text-transform: uppercase;
    gap: 24px;
    width: 450px;
}

/* pour la partie enchere */
.circle-container {
    width: var(--dot-diameter);
    height: var(--dot-diameter);
    transform: rotate(-225deg);
    fill: none;
    stroke: white;
    stroke-dasharray: 75 100;
}

.circle-container__background {
    stroke-width: var(--circle-border-width);
    stroke-linecap: round;
}

.circle-container__progress {
    stroke: url(#gradient);
    stroke-linecap: round;
    stroke-width: var(--circle-border-width);
    /*transition: stroke-dashoffset 1s ease-in-out; Non utilisé pour l'instant, à décommenter à un moment?*/
}

.stop1 {
    stop-color: #25a60f;

}

.stop2 {
    stop-color: green;
}

.temps{
    position: absolute;
    top: 2rem;
    right: 0;
    width: 30%;
    padding: 0.5rem 0 0.5rem 0.5rem;
    background-color: var(--couleur-noir30);
    border-radius: 1rem;
    font-size: 1.5rem;
}

.prix {
    display: flex;
}

.prix>div {
    font-size: 1.5rem;
    margin: 0.5rem;
    padding: 0 1rem 0 1rem;
    background-color: var(--couleur-noir30);
    border-radius: 1rem;
}

.prix>div>div {
    display: flex;
    flex-direction: row;
}
.prix>div>div p {
    margin-right: 0.3rem;
}

/* bouton de l'enchere */
#encherebutton { 
    position: absolute;
    top: 4rem;
    height: 10rem;
    line-height: 80px;
    width: 10rem;
    font-size: 2em;
    font-weight: bold;
    color: white;
    border-radius: 50%; 
    border: none;
    background: red;
    text-shadow: 0 3px 1px rgba(122,17,8,.8);
    box-shadow: 0 8px 0 rgb(183,9,0), 0 15px 20px rgba(0,0,0,.35);
}

#encherebutton:disabled {
    cursor: not-allowed;
}

#encherebutton:active, #encherebutton:disabled { 
  padding-top: 3px;
  transform: translateY(4px);
  box-shadow: 0 4px 0 rgb(183,0,0),
    0 8px 6px rgba(0,0,0,.45);
}


/*modal*/
#enchereImpossible{
    border-radius: 1rem;
}

.btnmodal{
    background-color: var(--couleur-jaune);
}
