/* --- Page du compte --- */
main.compte {
    color: var(--couleur-blanc);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* -- Design -- */
hr {
    margin: 1rem 0rem 1rem 0rem;
    height: 0.1rem;
    background-color: var(--couleur-blanc);
    border: none;
}

/* -- Titre -- */
main.compte h2{
    margin-top: 2rem;
    margin-left: 2rem;
}

/* -- Liste -- */
main.compte ul{
    list-style-type: none;
    margin-top: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* -- Button -- */
main.compte button{
    text-decoration: none;
    color: var(--couleur-noir);
    background-color: var(--couleur-jaune);
    border: 0.1rem solid var(--couleur-noir);
    border-radius: 1rem;
    white-space: nowrap;
    display: block;
    padding: 0.5rem 0.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

 /* -- Annonces populaires -- */
 .vosEncheres {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--couleur-blanc);
}

.vosEncheres article {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 1rem;
    background: var(--couleur-noir30);
    padding-bottom: 0.5rem;
}

.vosEncheres article img {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
}

.variablesEnchere {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vosEncheres article p {
    margin: 0.5rem;
}

.vosEncheres article h1 {
    word-wrap: break-word;
    margin: 0.5rem;
    overflow: hidden;
}

.vosEncheres a {
    text-decoration: none;
    color: var(--couleur-blanc);
}

.vosEncheres a:visited {
    color: var(--couleur-gris-clair);
}

#infos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.lines{
    width: 50%;
}

a.lines{
    text-decoration: none;    
    color: var(--couleur-noir);
    background-color: var(--couleur-jaune);
    border-radius: 1rem;
    display: block;
    width: 15%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right:auto;
}

.centered{
    text-align: center;
}

li{
    margin-top: 1rem;
}