h2{
    text-align: center;
}

#bundles{
  display: flex;
  flex-wrap: wrap;
}

.possede{
  text-align: center;
}

.pack{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 10rem;
  margin: 1rem;
  background-color: var(--couleur-blanc30);
  border-radius: 1rem;
}


.pack img{
  height: 3rem;
  width: 3rem;
}

.imagetdose p{
  margin: auto;
  padding: 1rem;
}

.imagetdose{
  margin: auto;
  display: flex;
  flex-direction: row;
}

.buy{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
}

 .modal {
  display: none; 
  justify-content: center;
  position: fixed; 
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--couleur-noir30); 
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  display: flex;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
}

/* The Close Button */
.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


#lesbtns{
  position:absolute;
  bottom: 0;
  right: 0;
}

#myConfirm, #myCancel{
  margin: 1rem;
  padding: 0.5rem;
}

