/* -- Button -- */
.button {
    font-size: 1rem;
    width: min-content;
    text-decoration: none;
    color: var(--couleur-noir);
    background-color: var(--couleur-jaune);
    border: 0.1rem solid var(--couleur-noir);
    border-radius: 1rem;
    white-space: nowrap;
    display: block;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0 auto 0 auto;
}

/* --- Page du compte --- */
main {
    color: var(--couleur-blanc);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* -- Design -- */
hr {
    margin: 1rem 0rem 1rem 0rem;
    height: 0.1rem;
    background-color: var(--couleur-blanc);
    border: none;
}

/* -- Titres -- */
main h1 {
    margin: 2rem 0 0 2rem;
}

main h2 {
    margin: 2rem 0 0 2rem;
}

/* -- Liste -- */
main ul {
    list-style-type: none;
    margin: 1rem 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main ul li {
    margin-top: 1rem;
}

/* -- Encheres de l'utilisateur -- */
.vosEncheres {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--couleur-blanc);
}

.vosEncheres article {
    width: 20rem;
    height: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 1rem;
    border-radius: 1rem;
    background: var(--couleur-noir30);
    padding-bottom: 0.5rem;
}

.vosEncheres article img {
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
}

.variablesEnchere {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vosEncheres article p {
    margin: 0.5rem;
}

.vosEncheres article h1 {
    word-wrap: break-word;
    margin: 0.5rem;
    overflow: hidden;
}

.vosEncheres a {
    text-decoration: none;
    color: var(--couleur-blanc);
}

.vosEncheres a:visited {
    color: var(--couleur-gris-clair);
}